.navbar-collapse {
  background: #e5e5e6;
}

.btn-team-picker {
  border: none;
  box-shadow: none;
}

.btn-team-picker:hover{
  background: #6ac1d2;
}

.group-image {
  background-image: url('images/profile32x32.png');
  background-repeat:no-repeat;
  background-size:cover;
  width: 32px;
  height: 32px;
}