.blip-logo {
  background-image: url('images/blip_logo128x128.png');
  background-repeat:no-repeat;
  background-position:center;
  min-height: 128px;
  min-width: 128px;
}

.tidepool-logo {
  background-image: url('images/tidepool_logo.png');
  background-repeat:no-repeat;
  min-height: 16px;
  min-width: 145px;
  margin-bottom: 50px;
}

.login-form
.form-control {
  text-align: center;
  border: 2px solid #e6e6e5;
}

.login-form
.form-control:focus {
  border: 2px solid #66afe9;
}

.login-form
.btn {
  border:none;
}
