body { 
  padding-top: 51px;  /* required for navbar */
}

/* ListNavBar*/

.back-icon {
  display: block;
  background: url('images/back24x24.png');
  background-repeat:no-repeat;
  height: 24px;
  margin-top: 13px;
}

.logout-icon {
  display: block;
  background: url('images/blip_logo32x32.png');
  background-repeat:no-repeat;
  height: 32px;
  margin-top: 9px;
}

.dropdown-icon {
  background: url('images/dropdown32x32.png');
  background-repeat:no-repeat;
  background-position:center;
  min-height: 32px;
  min-width: 32px;
}

/* message footer */

.navbar-form {
  margin: 0;
  border: none;
}

/* full width drop down */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}

/* Login */

.blip-logo {
  background-image: url('images/blip_logo128x128.png');
  background-repeat:no-repeat;
  background-position:center;
  min-height: 128px;
  min-width: 128px;
}

.tidepool-logo {
  background-image: url('images/tidepool_logo.png');
  background-repeat:no-repeat;
  min-height: 20px;
  min-width: 185px;
  margin-bottom: 50px;
}

/* Team Picker */
.group-image {
  background-image: url('images/profile80x80.png');
  background-repeat:no-repeat;
  background-size:cover;
  width: 80px;
  height: 80px;
}


/* Notes Lists */
.list-group-item {
  border: none;
}

.list-group {
  margin-bottom: 50px;
}

.note.list-group-item.row {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
}

.notethread
.note.list-group-item.row:not(:first-of-type) {
  margin-left:50px;
}

/* Notes */

.note-comment{
  background-image: url('images/comment16x16.png');
  background-repeat: no-repeat;
  padding-left: 20px;
}

.note-for-team {
  padding-right: 10px;
}

.note-image-large{
  background-image: url('images/profile80x80.png');
  background-repeat:no-repeat;
  background-size:cover;
  width: 80px;
  height: 80px;
}

.note-image{
  background-image: url('images/profile50x50.png');
  background-repeat:no-repeat;
  background-size:cover;
  width: 50px;
  height: 50px;
}

.note-header {
  font-size: medium;
  font-weight: bold;
}

.note-when {
  font-size: smaller;
}

.note-message {
  font-size: initial;
  padding-top: 5px;
  padding-bottom: 5px;
}