body {
  padding-top: 51px;  /* required for navbar */
  padding-bottom: 51px; /* required for footer */
}

.btn-default {
  text-shadow: none;
}

.btn {
  border-radius: 0px;
}

.form-control {
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.alert-error {
  color: #a94442;
}

.alert-info {
  color: #a94442;
}

@import url("./layout/Layout.css");

@import url("./components/form/MessageForm.css");
@import url("./components/header/ListNavBar.css");
@import url("./components/header/TeamPicker.css");
@import url("./components/login/Login.css");
@import url("./components/notes/Note.css");
@import url("./components/notes/NoteThread.css");
@import url("./components/notes/TeamNotes.css");
