.layout-notification {
  position: fixed;
  z-index: 1050;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  height: 0;
}

.layout-notification-inner {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 20px;
  text-align: center;
  border: 2px solid #e6e6e5;
  background-color: #fff;
  border-radius: 4px;
}

.layout-notification-alert {
  color: #6ac1d2;
}

.layout-notification-error {
  color: #a94442;
}